body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f9;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  background-color: #fff;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 300px;
}

h1 {
  font-size: 2em;
  margin-bottom: 20px;
  color: #ff7af8;
}

input {
  padding: 10px;
  font-size: 16px;
  margin-top: 20px;
  border-radius: 5px;
  border: 1px solid #ddd;
  width: 50%;
}

button {
  padding: 10px 20px;
  font-size: 1em;
  background-color: #eea8ea;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
  background-color: #eea8ea;
}

.hasil {
  font-size: 2em;
  font-weight: bold;
  margin-top: 20px;
  color: #333;
}

#message {
  font-size: 1.2em;
  color: #f44336;
  margin-top: 10px;
}

#chances {
  font-size: 1.2em;
  margin-top: 20px;
}
